<% layout("/layouts/boilerplate.ejs"); %>
<link rel="stylesheet" href="/css/boilerplate/users/signup.css">

<div class="container center-content mb-4">
    <form class="col-6 offset-3" novalidate class="needs-validation" action="/signup/student" method="POST">
        <h3 class="text-center mt-4">Log In</h3>
        <div class="mb-3">
            <label for="universityStudentEmail" class="form-label">Email</label>
            <input type="email" class="form-control" name="universityStudentEmail" id="universityStudentEmail" placeholder="Enter university email" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="user[password]"
                placeholder="Enter password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block text-center col-2 offset-5">Login</button>
        <div class="text-center mt-3">
            <p>Don't have your university registered? <a href="/university/signup">Sign Up</a></p>
        </div>
    </form>
</div>
